.aboutMe {
  width: 100%;
  height: max-content;
  display: flex;
  min-width: 2700px;
  margin: 50px 0;
  align-items: center;
}

.gioiThieu {
  width: 63%;
  margin-left: 100px;
  height: max-content;
}

.txtAbout {
  margin: 46px 0;
}

.gioiThieu p {
  font-size: 55px;
  font-family: var(--font-be-vietnam);
  color: var(--color-lightcoral);
  font-weight: bold;
}

.bgAbout {
  background-color: var(--color-pink);
  border: none;
  border-radius: var(--br-sizeM);
  display: flex;
  height: 900px;
  align-items: center;
  min-width: 1600px;
  max-width: 1700px;
  width: max-content;
  margin-bottom: 130px;
}

.anhWeb {
  width: 552px;
  height: 736px;
  margin-left: 80px;
}

.anhWeb img {
  width: 100%;
  height: 100%;
  border-radius: var(--br-sizeM);
}

.txtGioiThieu {
  width: 1000px;
  margin-left: 50px;
  padding-right: 30px;
}

.row {
  width: 100%;
  display: flex;
  margin: 50px 0;
  justify-content: center;
}

.cc {
  width: 30px;
  height: 30px;
  background-color: #FFF;
  border-radius: 50%;
  margin: 20px;
  min-width: 30px;
}

.text {
  font-size: 42px;
  color: #FFF;
  font-family: var(--font-bree-serif);
  line-height: 45px;
  letter-spacing: 1.5px;
}

.vd {
  width: 30%;
}

.HyuNieVideo {
  width: max-content;
  padding: 20px;
  border: 1px solid var(--color-lightpink);
  border-radius: var(--br-sizeM);
}

.HyuNieVideo video {
  border-radius: var(--br-sizeM);
}