.Time {}
.TimeHeader {
    display: flex;
    align-items: center;
    padding: 30px 100px;
}
.TimeHeader .name {
    color: var(--color-lightcoral);
    font-family: var(--font-be-vietnam);
    font-size: 50px;
    font-weight: bold;
   
    text-transform: uppercase;

}
.countDown {
   
    height: 46px;
    width: 30%;
    display: flex;
    margin-left: 23px;
}
.countDownHours,
.countDownMin,
.countDownSe {
    background-color: var(--color-lightpink);
    height: 54px;
    width: 54px;
    font-size: 32px;
    color: var(--color-white);
    text-align: center;
    line-height: 54px;
    font-weight: bold;
}
.twoDot {
    height: 54px;
    font-size: 32px;
    color: var(--color-lightpink);
    text-align: center;
    line-height: 54px;
    font-weight: bold;
    padding: 0 6px;
}


.timeUpdate {
    display: flex;
    padding: 0 100px;
    text-align: center;
    margin-top: 32px;
}
.timeNow {
    width: 50%;
    height: 118px;
    border-radius: 10px 0px 0px 10px;
    border: 2px solid var(--color-lightcoral) ;
    background: rgba(255, 197, 193, 0.00);
}
.timeNext {
    width: 50%;
    height: 118px;
    border-radius: 0px 10px 10px 0px;
    background: var(--color-pink);
}
.timeNow_set,
.timeNow_p {
    color: rgba(0, 0, 0, 0.58);
    font-family: var(--font-be-vietnam); 
    font-weight: bold;
    letter-spacing: 5px;
}
.timeNext_set,
.timeNext_p {
    color: var(--color-white);
    font-family: var(--font-be-vietnam);
    font-weight: bold;
    letter-spacing: 5px;
}
.timeNow_set,
.timeNext_set {
    font-size: 50px;
    margin-bottom: 25px;
}
.timeNow_p,
.timeNext_p {
    text-transform: uppercase;
    font-size: 32px;
}

.productsContainer {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* width: 100%; */
    /* column-gap: 5%; */
    
    margin: 64px 0 46px 3.5%;
    

}
.productItem{
    background-color: var(--color-light-pr);
    /* width:  95%; */
    max-width: 430px;
    height: 600px;
    position: relative;
    margin-bottom: 46px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

section {
    width: 100%;
}
.change {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 46px;
}
 .changeNum {
    border: 2px solid var(--color-lightcoral);
    width: 46px;
    height: 46px;
    margin: 0 16px;
}
.changeNum_text {
    line-height: 46px;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}
.to_next {
    background: url('../img/img_Header/nextPage/mingcute_right-lineright.svg') no-repeat;
    background-size: contain;
    height: 46px;
    width: 46px;
    
}
.to_pre {
    background: url('../img/img_Header/nextPage/mingcute_right-line.svg');
    background-size: contain;
    height: 46px;
    width: 46px;
}