body {
    position: relative;
}

/* header */
.hearder {
    position: relative;
    display: flex;

}

.hearder .head_top {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.head_top,
.nav {
    height: 80px;
    background-color: var(--color-lightpink);
}



.bodyhead {
    display: flex;
    flex-direction: row;
    padding: 28px;
}


.bodyhead .body_right {

    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.body_right .search {
    position: relative;
    width: 360px;
    height: 60px;
    border-radius: 50px;
    border: 2.5px solid var(--color-lightcoral);
    background: var(--color-white);
    margin-right: 8px;

}

.icon_search {
    margin: 4px;
    padding: 10px 16px;
}

.searchBox {
    position: absolute;
    top: 18px;
    font-size: 18px;
    height: 24px;
    border: 0;
    outline: none;
    box-shadow: none;

}

.icon_mainHeader,
.icon_mainHeader1 {
    padding: 8px;
    cursor: pointer;
}

.navigation {
    position: absolute;
    height: 100%;
    top: 250px;
    width: 100%;
    pointer-events: none;
}

.nav {
    position: sticky;
    left: 0;
    top: -0.5px;
    z-index: 1;
    pointer-events: auto;
}

.nav>ul {
    display: flex;
    width: 100%;
    justify-content: center;
}

.nav>ul>li {
    line-height: 80px;
}

.nav>ul>li>a {
    text-transform: uppercase;
    margin: 44px;
    text-decoration: none;
    font-family: var(--font-be-vietnam);
    color: var(--color-white);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #FFF;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2.5px;
}

.icon_menu {
    position: relative;
}

.icon_menu:hover {
    cursor: pointer;
}

.icon_menu:hover .navbar {
    display: block;
}

.navbar {
    background-color: var(--color-white);
    position: absolute;
    top: 80px;
    left: 0px;
    width: 350px;
    display: none;

}

.navbar a {
    font-size: 20px;
    text-decoration: none;
    color: var(--color-black);

}

.navbar>ul>li {
    line-height: 64px;
    padding: 0 20px;

}

.navbar .icon_more {
    position: absolute;
    right: 10px;
    padding: 16px;
}

.navbar .general:hover {
    background-color: var(--color-gainsboro-100);
}

.navbar .general li:hover {
    font-size: 32px;
    font-weight: 700;
}

.navbar .general:hover .general_navbar {
    display: flex;

}

.navbar .general .general_navbar {

    border-left: 1px solid rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: row;
    justify-content: space-between;
    height: 462px;
    position: absolute;
    width: 705px;
    top: 0;
    left: 350px;
    background-color: var(--color-white);
}

.general_navbar_left>ul>li,
.general_navbar_right>ul>li {
    line-height: 46px;
    padding-left: 23px;
    font-size: 20px;
}

.general_navbar_right {
    margin-right: 90px;

}

.general_navbar_left {
    margin-left: 46px;
}

.general_navbar p {
    font-weight: bold;
    font-size: 22px;
}

/* main */
main {
    margin: 100px 0 46px;

}

/* slider */

/* .slider {  
    margin: 150px 45px 64px;

}

.slider .img_slider {
    width: 100%;
    display: none;
    cursor: pointer;
}
.slider .img_slider:first-child {
    display: block;
} */
.slider {
    margin: 150px 45px 64px;
    overflow: hidden;
    max-width: 100%;
    /* max-width: 800px; */
    position: relative;
    border: 1px solid #ddd;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.img_slider {
    min-width: 100%;
    cursor: pointer;
}


/* main FlashSale + Band */
.head_name {
    display: flex;
    padding-top: 16px;
    margin-bottom: 23px;
}

.contect {
    margin: 0 46px;
    width: 95%;
    height: 700px;
    background-color: var(--color-lightpink);
}

.leftName {
    color: var(--color-white);
    font-family: var(--font-be-vietnam);
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 90px;
    text-transform: uppercase;
    margin-left: 16px;
}

.h_right {
    margin-left: auto;
    line-height: 90px;
    font-family: var(--font-be-vietnam);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin-right: 36px;
}

.h_right a {
    text-decoration: none;
    color: var(--color-white);
}

.fSale_left,
.Band_left {
    display: flex;
    margin-left: 46px;
    
}

.Band_left_name {
    margin-left: 90px;
}

/* FLASH SALES */
.flashSalee {
    margin-bottom: 85px;
    position: relative;
    overflow: hidden;
}
.FSadd {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.flashsale_container {
    position: absolute;
    
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
    /* width: 100%;
    display: flex;
    flex-direction: row;
    margin: 28px 0;
    position: relative;
    justify-content: space-between;
    max-height: 424px; */
}



.flashsale_container .FSProduct:first-child {
    /* margin-left: 23px; */
}

.FSProduct {
    background-color: var(--color-white);
    text-align: center;
    width: 405px;
    height: 500px;
    cursor: pointer;
    margin-right: 38px;
    border-radius: var(--br-sizeM);
}

.FSProduct_img {
    border-radius: var(--br-sizeM);
    border: 1px var(--color-pink) solid;
    max-height: 320px;
    margin-top: 24px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.FSProduct_name,
.FSProduct_cost {
    height: 20px;
    text-align: left;
    margin: 16px 26px;
    font-family: var(--font-be-vietnam);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.6px;

    overflow: hidden; /* Ẩn phần văn bản tràn ra ngoài */
    display: -webkit-box; /* Sử dụng Flexbox để bố trí văn bản */
    -webkit-box-orient: vertical; /* Đặt hướng cho Flexbox */
    -webkit-line-clamp: 1; /* Giới hạn số dòng hiển thị */
    white-space: normal; /* Cho phép xuống dòng */
}
.costBoxx {
    display: flex;
    position: relative;
    width: 100%;
}

.FSProduct_cost {
    height: 40px;
    font-size: 23px;
    font-weight: bold;
}
.FSProduct_costMono {
    position: absolute;
    right: 32px;
    top: 16px;
    font-size: 22px;
    text-decoration: line-through;
}

.percent {
    border-radius: var(--br-sizeM);
    background-color: var(--color-gainsboro-100);
    width: 80%;
    margin: 26px;
}
.btnFS {
    width: 100%;
    position: absolute;
    z-index: 1;
    top:300px
}

.icon_left {
   text-align: center;
    width:64px;
    height: 64px;
    border: 2px #ddd solid;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 0;
}
.icon_right {
    width:64px;
    height: 64px;
    border: 2px #ddd solid;
    border-radius: 50%;
    position: absolute;
    right: 0px;
 }
.icon_left :active,
.icon_right:active {
    
    
    width:64px;
    height: 64px;
    border: 1px var(--color-white) solid;
    background-color: var(--color-pink);
    border-radius: 50%;
}



.Band_container {
    display: inline-block;
    background-color: var(--color-white);
    width: 95%;
    max-height: 600px;
    border-radius: var(--br-sizeS);
    margin: 0 42px;
    position: relative;
}

.B_container_left {
    border-radius: var(--br-sizeM);
    background-color: var(--color-gainsboro-100);
    min-height: 500px;
    width: calc(95%/3);
    margin-left: 12px;
    text-align: center;
    background: url('../img/Band/left_band.png') no-repeat;
    margin: 18px 26px;
}

.band {
    height: 700px;
}

.B_container_right {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 62%;
    min-height: 500px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 23px;
    justify-content: center;
    padding: 0 16px;

}

.B_container_right .item {
    max-width: 200px;
    max-height: 240px;
    border-radius: var(--br-sizeM);
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.B_container_right .item:hover {
    
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);

}

.B_container_right .item1 {
    background: url('../img/Band/romand.jpg') no-repeat;
    background-size: cover;
}

.B_container_right .item2 {
    background: url('../img/Band/merzy.jpg') no-repeat;
    background-size: cover;
}

.B_container_right .item3 {
    background: url('../img/Band/cocoon.jpg') no-repeat;
    background-size: cover;
}

.B_container_right .item4 {
    background: url('../img/Band/laros.jpg') no-repeat;
    background-size: cover;
}

.B_container_right .item5 {
    background: url('../img/Band/diamond.jpg') no-repeat;
    background-size: cover;
}

.B_container_right .item6 {
    background: url('../img/Band/Versace.jpg') no-repeat;
    background-size: cover;
}

.B_container_right .item7 {
    background: url('../img/Band/DHC.jpg') no-repeat;
    background-size: cover;
}

.B_container_right .item8 {
    background: url('../img/Band/SomeByMi.jpg') no-repeat;
    background-size: cover;
}

/* See more */

.SeeMoreContainer {
    width: 100%;
    height: 100px;
    position: relative;

}

.SeeMoreBox {
    line-height: 46px;
    width: 20%;
    height: 46px;
    text-align: center;
    font-family: var(--font-be-vietnam);
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    border: 2.5px solid var(--color-lightpink);
    border-radius: var(--br-sizeL);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 23px;
    cursor: pointer;
}

.SeeMoreBox a {
    text-decoration: none;
    color: var(--color-lightpink);
}
.SeeMoreBox:hover {
    opacity: 0.8;
    width: 22%;
    font-size: 30px;
}

/* Footer */
#footer {
    position: absolute;

    align-items: center;
    background-color: var(--color-lightpink);
    height: 380px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.phone_name,
.mail_name,
.Contact_ifor_head,
.contact_withUs {
    color: var(--color-white);
    font-family: var(--font-be-vietnam);
    font-size: 30px;
    letter-spacing: 2.5px;
    padding: 23px;

}

.Contact_ifor_head,
.phone_name,
.mail_name {
    margin-left: 46px;
}

.Contact_ifor_head,
.contact_withUs {
    text-transform: uppercase;
}

.phone_name,
.mail_name {
    font-size: medium;
    font-size: 25px;
}

.phone,
.mail {

    color: var(--color-white);
    text-decoration: none;
}

.contact_withUs,
.fb,
.insta,
.tiktok {
    margin-right: 46px;
}



.fb {
    margin-left: 64px;
}

.about:visited,
.about:focus,
.about:active {
    background-color: var(--color-lightpink);
    /* Giữ màu sắc của liên kết không thay đổi */
    text-decoration: none;
    /* Xóa gạch chân của liên kết */
}