* {
    margin: 0;
    padding: 0;
}

.item {
    margin-top: 50px;
    margin-left: 50px;
    width: 100%;
    height: 130px;
    display: flex;
    position: relative;
    align-items: center;
}

.center {
    position: absolute;
    left: 60px;
    width: 90%;
    height: 100%;
    background-color: var(--color-pink);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 8px;
}

.anh {
    height: 100%;
}

.anh img {
    height: 100%;
    width: 150%;
}

.infoGioHang {
    height: 100%;
    width: 70%;
    font-family: var(--font-be-vietnam);
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

.tenSanPham {
    padding-bottom: 20px;
}

.groupBtnInp {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.groupBtnInp button {
    width: 32px;
    height: 32px;
    border: 1px solid #FFF;
    background-color: var(--color-pink);
    font-weight: bold;
    font-size: 32px;
    margin: 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    cursor: pointer;
}

.groupBtnInp input {
    width: 46px;
    height: 46px;
    border: 1px solid #FFF;
    background-color: var(--color-pink);
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    color: #FFF;
    outline: none;
}

/* Ẩn spinner trong các trình duyệt Webkit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Ẩn spinner trong Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}