
.mainSignIn {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-bottom: 100px;
}
.posterShop {
    flex: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.posterShop img {
    width: 100%;
    object-fit: cover; 
}

.signInRight {
    flex: 1; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.signIn_Head {
    
    text-align: center;
    font-size: 80px;
    color: var(--color-lightpink);
    font-weight: 700;
    margin-top: 100px;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
}

.rowInfor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.txtTitle {
    font-family: var(--font-be-vietnam);
    width: 256px;
    height: 128px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-lightcoral);
}

.myInp {
    font-family: var(--font-be-vietnam);
    width: 750px;
    height: 64px;
    border-radius: var(--br-sizeS);
    font-size: 32px;
    border-color: var(--color-lightcoral);
    outline: none;
    box-shadow: none;
    border-style: solid;
    padding-left: 24px;
}

.borRadio {
    width: 64px;
    height: 64px;
}

.select {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 856px;
}

.dkien_csach {
    text-decoration: none;
    color: var(--color-lightcoral);
}

.checkDieuKhoan {
    margin-left: 300px;
    margin-top: 56px;
}

.gioiTinh {
    justify-content: left;
    padding-left: 24px;
}

.chooseGioiTinh {
    padding-left: 120px;
}

.btnDangKy {
    width: 256px;
    height: 64px;
    background-color: var(--color-lightcoral);
    color: white;
    border: 0px;
    font-size: 24px;
    border-radius: 10px;
    outline: none;
}

.DangKy {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}